<div class="container">
   <div class="row">
      <div class="col-md-7 center-block">
         <h1><%= @post.title %></h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7 center-block">
         <ul>
            <li>
               <p class="pbriefing"><%= @post.briefing %></p>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="center-block">
         <div class="col-md-7 center-block">
            <br>
            Posted by <%= @post.getUserName() %> <br>
            Created at <%= @post.created_at.strftime("%d/%m/%Y - %H:%M") %> 
            <% if @post.updated_at != @post.created_at %><br>
            Edited at <%= @post.updated_at.strftime("%d/%m/%Y - %H:%M") %>
            <% end %>
            <% if user_signed_in? %> 
            <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-warning col-md-2 pull-right" %>
            <% end %>
            <br>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7 center-block">
         <img src=<%= @post.avatar.url %> class="img-responsive imgArticle">
         <%= @post.text %>
      </div>
   </div>
</div>